/**************/
/* CSS REMEDY */
/**************/
*, *::after, *::before {
	padding: 0px;
	margin: 0px;
  	box-sizing:border-box;  
}






/*********************/
/* CUSTOM PROPERTIES */
/*********************/
:root {
	--main-text: Maven Pro, sans-serif;
	--heading-text: Montserrat, Georgia, sans-serif;
	--white-text: #FFFFFF;
	--dark-text: #000000;
	--yellow-text: #d5ea42;
}

/**********************/
/* CSS */
/**********************/
body {
	font-family: var(--main-text);
}
header {
	display: unset;
}

#noscroll {
	height: 100vh;
	overflow: hidden;
}

#hamenu {
	position: absolute;
	height: 100vh;
	width: 100vw;
	margin-left: 0px;
	z-index: 20;
}
#dark {
	position: absolute;
	height: 100vh;
	width: 100vw;
	background-color: #000000;
	opacity: 0.5;
}
#menu {
	position: absolute;
	content: "";
	height: 100vh;
	width: 80vw;
	background-color: #FFFFFF;
	overflow-y: scroll;
	padding: 15px;
}

#Top {
	width: 100vw;
	background-color: black;
}
#Top a {
	display: block;
	font-family: var(--main-text);
	color: var(--yellow-text);
	text-align: center;
	font-size: 0.75rem;
	padding: 9px;
	font-weight: 400;
	text-decoration: none;
}
#header-navigation {
	width: 100vw;
	height: 56px;
	padding-top: 15px;
	position: sticky;
	top: -1px;
	z-index: 10;
	background-color: white;
}
#header-navigation ul {
	list-style-type: none;
	margin: 0;
	padding: 0;
	overflow: hidden;
	display: grid;
	grid-template-columns: 1fr 1fr 6fr 1fr 1fr;
	grid-template-rows: 1fr;
	column-gap: 2vw;
	margin-left: 2vw;
	margin-right: 2vw;
}
#header-navigation li {
	display: grid;
	align-self: center;
	text-align: center;
}
#header-navigation a {
	color: var(--main-text);
	text-decoration: none;
}
#banner {
	width: 100vw;
}
#banner img {
	display: block;
	width: 100%;
	height: auto;
}
#categories {
	margin-top: 50px;
	margin-left: 25px;
	overflow-x: scroll;
	text-transform: uppercase;
	scrollbar-width: none;
	font-size: 0.8em;
}
#categories::-webkit-scrollbar {
	display: none;
}
#categories ul {
	display: grid;
	grid-template-columns: 1fr 1fr 1fr 1fr 1fr;
	gap: 15px;
}
#categories li {
	display: grid;
	text-align: center;
}
#categories a {
	display: block;
	margin: auto;
	color: var(--main-text);
	text-decoration: none;
}
#categories img {
	display: block;
	content: "";
	border-width: 1px;
	border-style: solid;
	border-radius: 50%;
	height: 15vh;
	width: 15vh;
	margin: auto;
	margin: 0 3vw 0 3vw;
}
.items {
	margin-top: 20px;
	margin-left: 25px;
}
.items h2 {
	font-family: var(--heading-text);
	font-size: 1.5rem;
	line-height: 1.2;
	letter-spacing: 0;
	font-weight: 500;
	text-transform: uppercase;
}
.items ul {
	display: grid;
	grid-template-columns: 1fr 1fr 1fr 1fr 1fr;
	gap: 15px;
	overflow-x: scroll;
}
.items li {
	display: grid;
	width: 65vw;
}
.items li a {
	width: 100%;
	height: 100%;
	display: grid;
	grid-template-columns: 1fr 1fr 1fr 1fr;
	grid-template-rows: 1fr 1fr 1fr 1fr 1fr 1fr 1fr;
	color: var(--dark-text);
	text-decoration: none;
	white-space: normal;
	font-weight: 400;
	font-size: 0.8em;
}
.link {
	display: block;
	color: var(--dark-text);
	text-align: center;
	text-decoration: underline;
}
.out {
	opacity: 0.5;
}
.korting {
	display: grid;
	grid-area: 1 / 1 / 2 / 2;
	margin: 2vw;
	background-color: #000000;
	color: var(--white-text);
	text-align: center;
	align-self: center;
	padding: 3px 10px 3px 10px;
}
.heart {
	display: grid;
	grid-row-start: 1;
	grid-row-end: 2;
	grid-column-start: 4;
	grid-column-end: 5;
	margin-left: 20px;
	margin-top: 5px;
	z-index: 3;
}
.background {
	display: grid;
	grid-area: 1 / 1 / 6 / 5;
	height: 100%;
	width: 100%;
	object-fit: cover;
}
.beschrijving {
	display: grid;
	grid-area: 6 / 1 / 7 / 5;
	text-decoration: none;
}
.prijs_discount {
	display: grid;
	grid-area: 7 / 2 / 8 / 4;
	text-decoration: none;
	color: var(--dark-text);
	overflow-x: visible;
}
.prijs_full {
	display: grid;
	grid-area: 7 / 1 / 8 / 2;
	text-decoration: line-through;
	color: #5c5c5c;
}
.prijs_out {
	display: grid;
	grid-area: 7 / 1 / 8 / 4;
	text-decoration: underline;
	color: var(--dark-text);
	text-transform: uppercase;
} 
.card {
	display: block;
	margin-top: 50px;
}
.card article {
	display: block;
	text-align: center;
	background-color: #262728;
	color: var(--white-text);
}
.card article h2 {
	font-weight: 400;
	margin-top: 15px;
	font-size: 1em;
}
.card article h3 {
	text-transform: uppercase;
	font-size: 1.5em;
	letter-spacing: 1px;
	font-weight: 300;
	margin-top: 10px;
}
.card article p {
	padding: 20px 10px 80px 10px;
	font-size: 0.8em;
	line-height: 2;
}
.card article a {
	position: absolute;
	width: 60vw;
	font-weight: 300;
	text-transform: uppercase;
	font-size: 0.8em;
	display: block;
	padding: 15px 20px 15px 20px;
	background-color: white;
	text-decoration: none;
	color: var(--dark-text);
	margin: 10px 20vw;
	letter-spacing: 1px;
}
.card article img {
	width: 100%;
	height: auto;
	object-fit: contain;
}	
#timeevolve article {
	background-color: #355c46;
}
#about {
	margin-top: 50px;
	width: 100vw;
	height: 100vw;
	background-image: url(/images/home/dream2.jpg);
	background-repeat: no-repeat;
	background-size: cover;
	padding-left: 25px;
	padding-top: 100px;
}
#about h2 {
	text-transform: uppercase;
	color: var(--white-text);
	font-family: var(--heading-text);
	font-weight: 500;
	width: 60vw;
}
#about p {
	padding-top: 20px;
	padding-bottom: 20px;
	color: var(--white-text);
	font-family: var(--main-text);
	font-size: 0.8em;
}
#about a {
	text-decoration: none;
	color: var(--white-text);
	border-bottom-style: solid;
	border-width: 1px;
	font-size: 0.8em;
}
#info {
	width: 100vw;
	height: auto;
	background-color: #f9f9f9;
	text-align: center;
	padding: 20px;
	font-size: 1em;
}
#info p {
	width: 55vw;
	margin: auto;
	color: #656565;
	padding: 20px;
}
#footer {
	margin-left: 25px;
	margin-right: 25px;
	width: auto;
}
#footer input {
	width: auto;
}
#schrijfJeIn {
	font-family: var(--heading-text);
	font-weight: 500;
	font-size: 1.6em;
	text-align: center;
	line-height: 1.2;
	margin-top: 50px;
}
#footer input {
	padding-left: 10px;
	padding-top: 12px;
	padding-bottom: 8px;
	font-weight: 300;
	width: 100%;
	margin-top: 25px;
}
#footer input[type=submit] {
	background-color: #000000;
	color: var(--white-text);
	text-transform: uppercase;
	font-weight: 300;
    font-family: var(--main-text);
	font-size: 0.8em;
    letter-spacing: 2px;
	padding: 15px;
}
details summary {
    list-style-type: none;
}
details summary::-webkit-details-marker {
    display: none;
}
details summary::after {
	display: inline-block;
	content: url(/images/svgicons/arrow.svg);
	transform: rotate(180deg);
	transition: 0.5s;
}
details[open] > summary::after {
    content: url(/images/svgicons/arrow.svg);
	transform: rotate(0deg);
	transition: 0.5s;
}
details summary h3 {
	display: inline-block;
}
#endimg {
	margin-top: 50px;
	width: 50%;
	margin-left: 25%;
}
#footer p {
	text-align: center;
	font-size: 0.8em;
	margin-top: 20px;
}
#footer ul {
	display: flex;
	list-style: none;
}
#footer li img{
	height: 25px;
	width: auto;
}